.login-page {
  background: linear-gradient(123deg, #548dff 0%, #c654ff 100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.726);
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 500px) {
  .login-container {
    background-color: transparent;
    color: white;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  .login-content input {
    border-bottom:1px solid white!important ;
  }
  .login-content button{
    border-radius: 50px;
    background-color: #d073ff;
  }
}

.login-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 260px;
}

.login-content .fa-solid {
  position: absolute;
  font-size: 20px;
  margin-top: 13px;
  padding-left: 10px;
}

.login-content input {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid gray ;
  width: 300px;
  height: 50px;
  padding-left: 50px;
}

.login-content button {
  width: 300px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #c654ff;
  color: white;
  font-size: 1em;
  transition: all 300ms;
}
.login-content button:hover {
  background-color: #548dff;
}

.login-content p {
  text-decoration: underline;
  cursor: pointer;
  transition: all 300ms;
}

.login-content p:hover {
  color: #548dff;
}

.login-footer {
  display: flex;
  gap: 5px;
}

.login-container p:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
  transition: all 300ms;
}

.login-container p:nth-child(2):hover {
  color: #548dff;
}
